/* Css Reset + Main Setup*/
* {margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
  }
  *:focus {
    outline: none;
  }

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
  position: relative;
  max-height: 100vh;
}


  /* Horizontal nav setup */
ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  display: inline;
}

/* Left nav setup */
.leftnv{
  padding-left: 1.2em;
  padding-top: 1.3em;
  float: left;
}
#left-nav1 {
  padding-left: 1.3em;
  margin-left: 0.2em;
}
#left-nav2 {
  margin-left: -0.3em;
}

/* right nav setup */
.rightnv{
  padding-right: 1.2em;
  padding-top: 1.3em;
  float: right;
}
#right-nav1 {
  padding-right: 1.3em;
  margin-right: 0.2em;
}
#left-nav2 {
  margin-right: -0.3em;
}
i {
  padding: 0;
  margin: 0;
  margin-top: -0.2em;
}
#icon {
  font-size: 1.5em;
  padding-left: 1em;
  float: right;
}

/* nav links animations + edit + fonts*/
a{
  font-size: 90%;
  font-weight: 200; 
  color: #4d4d4d;
  text-decoration: none;
}
a:hover {

  text-decoration: underline;
}

/* Middle Main Page Setup (PD: Perfect Positioning in Google Logo) */
.centre {
  text-align: center;
  padding-bottom: 2.5rem;
}
.logopos {
  margin-top: 10.3%;
  
}
.logo {
  margin: 0 auto;
}
 /* Google Search Form */
.google-form{
  text-align: center;
  margin-top: 2.2em;
}
.input-icon i{
  position: absolute;
}
.input-icon{
  width: 100%;
  margin-bottom: 10px;
}
.search-text {
  padding: 10px;
  border-style: solid;
  border-radius: 25px 25px 25px 25px;
  border-left-style: solid;
  border-color: #f0f0f0;
  background-color:white; 
  width: 40em;
  height: 47px;
  overflow: hidden;
}
/* Animation for the search text */
.search-text:hover {
  border-color: #bbbbbb;
}
#search-icon {
  padding: 17px;
  overflow: auto; 
  border-radius: 25px 0px 0px 25px;
  color: #bbbbbb;
   background-color:transparent;
  border-style: none;
}
  

/* The two form buttons under search text */
.google-btn {
  color: #1f1f1f;
  border-color: transparent;
  padding: 6px 10px 6px 10px;
  background-color: rgb(253, 253, 253);
  font-size: 1em;
  text-decoration: none;
    border-radius: 3px;
  margin-right: 0.5em;
}
 /* hover animation for google btn */  
  .google-btn:hover {
      position: relative;
    border-style: solid;
    border-color: rgb(238, 238, 238);
  } 

.lucky-btn {
  color: #1f1f1f;
  border-color: transparent;
  padding: 6px 10px 6px 10px;
  background-color: rgb(253, 253, 253);
  font-size: 1em;
    border-radius: 3px;
    text-decoration: none;
  margin-left: 0.5em;
}
/* hover animation for lucky btn */
.lucky-btn:hover {
    border-style: solid;
    border-color: rgb(238, 238, 238);
  } 

/* Footer Setup */
 .footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 2.5rem;
 }
 .nav-footer {
   border-top: #cecece solid 1px;
   background-color: rgb(238, 238, 238);
   overflow: hidden;
   width: 100%;
 }
 .leftft {
   float: left;
   font-size: 17px;
   text-decoration: none;
   display: block;
   padding: 12px 17px;
 }
 .rightft {
   font-size: 17px;
   float: right;
   text-decoration: none;
   display: block;
   padding: 12px 17px;
 }